{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12">
  <h2 class="page-header">Edit User</h2>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}
</div>
{% endblock %}
